In [14]:
import pandas as pd
Zillow = pd.read_csv('Zillowdata.csv')
states = pd.read_csv('FIPS.csv')
COVID= pd.read_csv('cleancovid.csv')
income= pd.read_csv('incomeall.csv')
raceeth= pd.read_csv('RaceEthnicity.csv')
RU= pd.read_csv('ruralurban.csv')
pop= pd.read_csv('Population.csv')
Zillow

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,...,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
0,0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,...,724304.0,734737.0,748675.0,766484.0,786445.0,798469.0,807117.0,809652.0,814209.0,819573.0
1,1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,...,271379.0,274385.0,276166.0,279190.0,282732.0,286479.0,289068.0,291559.0,294460.0,297191.0
2,2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,...,225167.0,226995.0,229258.0,234176.0,239565.0,245372.0,249810.0,253619.0,256223.0,259306.0
3,3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,...,353650.0,360262.0,372458.0,383871.0,397135.0,407112.0,415319.0,422809.0,428902.0,434638.0
4,4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,...,692024.0,705885.0,726619.0,750501.0,774050.0,788507.0,798103.0,802781.0,810221.0,821411.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,2835,828,3104,Alpine County,county,CA,CA,NaN,6,3,...,NaN,460477.0,467177.0,474683.0,483848.0,492839.0,501395.0,506796.0,511683.0,518067.0
2836,2836,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,...,394132.0,403021.0,410654.0,415816.0,418517.0,423512.0,427733.0,431631.0,432433.0,438666.0
2837,2837,1933,3114,Mineral County,county,CO,CO,NaN,8,79,...,341615.0,347095.0,351817.0,358103.0,364747.0,370857.0,376500.0,380346.0,381542.0,384039.0
2838,2838,1648,3129,Daggett County,county,UT,UT,NaN,49,9,...,256113.0,263029.0,269755.0,276087.0,280029.0,284857.0,289254.0,293906.0,296812.0,304186.0
2839,2839,2518,3132,San Juan County,county,CO,CO,NaN,8,111,...,384827.0,390362.0,394614.0,401117.0,407270.0,415334.0,423507.0,429720.0,433309.0,438270.0

In [25]:
states['C_Sa']=states['name'].astype(str)+','+states['state_Ab'].astype(str)
states
states.to_csv("Fip-it2.csv")

In [40]:
Zillow['C_Sa']=Zillow['RegionName'].astype(str)+','+Zillow['StateName'].astype(str)
Zillow

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,...,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,C_Sa
0,0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,...,734737.0,748675.0,766484.0,786445.0,798469.0,807117.0,809652.0,814209.0,819573.0,"Los Angeles County,CA"
1,1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,...,274385.0,276166.0,279190.0,282732.0,286479.0,289068.0,291559.0,294460.0,297191.0,"Cook County,IL"
2,2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,...,226995.0,229258.0,234176.0,239565.0,245372.0,249810.0,253619.0,256223.0,259306.0,"Harris County,TX"
3,3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,...,360262.0,372458.0,383871.0,397135.0,407112.0,415319.0,422809.0,428902.0,434638.0,"Maricopa County,AZ"
4,4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,...,705885.0,726619.0,750501.0,774050.0,788507.0,798103.0,802781.0,810221.0,821411.0,"San Diego County,CA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,2835,828,3104,Alpine County,county,CA,CA,NaN,6,3,...,460477.0,467177.0,474683.0,483848.0,492839.0,501395.0,506796.0,511683.0,518067.0,"Alpine County,CA"
2836,2836,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,...,403021.0,410654.0,415816.0,418517.0,423512.0,427733.0,431631.0,432433.0,438666.0,"Hinsdale County,CO"
2837,2837,1933,3114,Mineral County,county,CO,CO,NaN,8,79,...,347095.0,351817.0,358103.0,364747.0,370857.0,376500.0,380346.0,381542.0,384039.0,"Mineral County,CO"
2838,2838,1648,3129,Daggett County,county,UT,UT,NaN,49,9,...,263029.0,269755.0,276087.0,280029.0,284857.0,289254.0,293906.0,296812.0,304186.0,"Daggett County,UT"
2839,2839,2518,3132,San Juan County,county,CO,CO,NaN,8,111,...,390362.0,394614.0,401117.0,407270.0,415334.0,423507.0,429720.0,433309.0,438270.0,"San Juan County,CO"

In [41]:
Zillow1=Zillow.merge(states, on="C_Sa")
Zillowfips=Zillow1.set_index('fips')

Zillowfips

,Unnamed: 0_x,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,...,9/30/2021,10/31/2021,11/30/2021,12/31/2021,C_Sa,Unnamed: 0_y,name,state_Ab,state,C_S
fips,,,,,,,,,,,,,,,,,,,,,
6037,0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,...,807117.0,809652.0,814209.0,819573.0,"Los Angeles County,CA",204,Los Angeles County,CA,California,"Los Angeles County,California"
17031,1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,...,289068.0,291559.0,294460.0,297191.0,"Cook County,IL",610,Cook County,IL,Illinois,"Cook County,Illinois"
48201,2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,...,249810.0,253619.0,256223.0,259306.0,"Harris County,TX",2623,Harris County,TX,Texas,"Harris County,Texas"
4013,3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,...,415319.0,422809.0,428902.0,434638.0,"Maricopa County,AZ",103,Maricopa County,AZ,Arizona,"Maricopa County,Arizona"
6073,4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,...,798103.0,802781.0,810221.0,821411.0,"San Diego County,CA",222,San Diego County,CA,California,"San Diego County,California"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6003,2835,828,3104,Alpine County,county,CA,CA,NaN,6,3,...,501395.0,506796.0,511683.0,518067.0,"Alpine County,CA",187,Alpine County,CA,California,"Alpine County,California"
8053,2836,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,...,427733.0,431631.0,432433.0,438666.0,"Hinsdale County,CO",271,Hinsdale County,CO,Colorado,"Hinsdale County,Colorado"
8079,2837,1933,3114,Mineral County,county,CO,CO,NaN,8,79,...,376500.0,380346.0,381542.0,384039.0,"Mineral County,CO",284,Mineral County,CO,Colorado,"Mineral County,Colorado"
49009,2838,1648,3129,Daggett County,county,UT,UT,NaN,49,9,...,289254.0,293906.0,296812.0,304186.0,"Daggett County,UT",2781,Daggett County,UT,Utah,"Daggett County,Utah"
8111,2839,2518,3132,San Juan County,county,CO,CO,NaN,8,111,...,423507.0,429720.0,433309.0,438270.0,"San Juan County,CO",300,San Juan County,CO,Colorado,"San Juan County,Colorado"

In [ ]:
ZillowT=Zillow1.set_index('fips').T
ZillowT.reset_index(inplace=True)
ZillowT1=ZillowT
ZillowT1['month']=ZillowT['index'].str.split('/').str[0]
ZillowT1['year']=ZillowT['index'].str.split('/').str[-1]

ZillowT1.tail(40)

In [ ]:
ZillowTT=ZillowT1.set_index('month').T
ZillowTT

In [21]:
COVID['fip-year-month']=COVID['fips'].astype(str)+'-'+COVID['Unnamed: 0'].astype(str)+'-'+COVID['date'].astype(str)
COVID['fip-year']=COVID['fips'].astype(str)+'-'+COVID['Unnamed: 0'].astype(str)
COVID
COVID.to_csv("clenCOVID-it2.csv")

In [12]:
income['fip-year']=income['fips'].astype(str)+'-'+income['Unnamed: 0'].astype(str)
income
income.to_csv("Income-it2.csv")

In [15]:
raceeth=raceeth.merge(states, on="C_S")
raceeth
pop=pop.merge(states, on="C_S")
pop

,Unnamed: 0_x,YEAR,C_S,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,UNDER5_TOT,AGE513_TOT,AGE1544_TOT,AGE4564_TOT,AGE65PLUS_TOT,Unnamed: 0_y,fips,name,state_Ab,state
0,9,2017,"Autauga County,Alabama",55448,0.951913,27041,28407,38.8,3286,6632,21519,14854,8370,0,1001,Autauga County,AL,Alabama
1,10,2018,"Autauga County,Alabama",55533,0.949621,27049,28484,39.1,3353,6490,21389,14935,8567,0,1001,Autauga County,AL,Alabama
2,11,2019,"Autauga County,Alabama",55769,0.943780,27078,28691,39.2,3251,6499,21487,14933,8783,0,1001,Autauga County,AL,Alabama
3,1,2020,"Autauga County,Alabama",58877,0.953256,28734,30143,39.2,3480,7042,22589,15672,9273,0,1001,Autauga County,AL,Alabama
4,2,2021,"Autauga County,Alabama",59095,0.946347,28733,30362,39.3,3388,7062,22714,15600,9484,0,1001,Autauga County,AL,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15675,43997,2017,"Weston County,Wyoming",6962,1.111617,3665,3297,43.6,373,749,2366,2032,1357,3142,56045,Weston County,WY,Wyoming
15676,43998,2018,"Weston County,Wyoming",6895,1.107918,3624,3271,43.8,351,742,2331,1957,1409,3142,56045,Weston County,WY,Wyoming
15677,43999,2019,"Weston County,Wyoming",6880,1.107198,3615,3265,44.3,333,728,2346,1914,1474,3142,56045,Weston County,WY,Wyoming
15678,9427,2020,"Weston County,Wyoming",6809,1.129143,3611,3198,44.3,317,716,2330,1859,1499,3142,56045,Weston County,WY,Wyoming
15679,9428,2021,"Weston County,Wyoming",6745,1.136522,3588,3157,44.7,303,718,2291,1829,1523,3142,56045,Weston County,WY,Wyoming

In [16]:
raceeth['fip-year']=raceeth['fips'].astype(str)+'-'+raceeth['YEAR'].astype(str)
raceeth
raceeth.to_csv("raceeth-it2.csv")
pop['fip-year']=pop['fips'].astype(str)+'-'+pop['YEAR'].astype(str)
pop
pop.to_csv("Population-it2.csv")

In [10]:
RU['fips']=RU["FIPS"]
COVID['fips']=COVID['fips'].astype(str)
states['fips']=states['fips'].astype(str)
RU['fips']=RU['fips'].astype(str)
RU.merge(states, on='fips')
RU

,Unnamed: 0,FIPS,State,County_Name,Population_2010,RUCC_2013,Description,fips
0,0,01001,AL,Autauga County,"54,571",2.0,"Metro - Counties in metro areas of 250,000 to ...",01001
1,1,01003,AL,Baldwin County,"182,265",3.0,Metro - Counties in metro areas of fewer than ...,01003
2,2,01005,AL,Barbour County,"27,457",6.0,"Nonmetro - Urban population of 2,500 to 19,999...",01005
3,3,01007,AL,Bibb County,"22,915",1.0,Metro - Counties in metro areas of 1 million p...,01007
4,4,01009,AL,Blount County,"57,322",1.0,Metro - Counties in metro areas of 1 million p...,01009
...,...,...,...,...,...,...,...,...
3235,3235,00nan,NaN,NaN,NaN,NaN,NaN,00nan
3236,3236,00nan,NaN,NaN,NaN,NaN,NaN,00nan
3237,3237,00nan,NaN,NaN,NaN,NaN,NaN,00nan
3238,3238,00nan,NaN,NaN,NaN,NaN,NaN,00nan
3239,3239,00nan,NaN,NaN,NaN,NaN,NaN,00nan

In [11]:
RU.dropna()
RU.to_csv("ruralurban-it2.csv")

In [18]:
COVID.dtypes
COVID['fips']=COVID['fips'].astype(str)
COVID

       Unnamed: 0   fips  date  cases
0            2020   1001     3     43
1            2020   1001     4    731
2            2020   1001     5   3660
3            2020   1001     6  11110
4            2020   1001     7  24241
...           ...    ...   ...    ...
67348        2021  56045     8  22442
67349        2021  56045     9  25372
67350        2021  56045    10  30816
67351        2021  56045    11  35174
67352        2021  56045    12  38058

[67353 rows x 4 columns]

In [ ]:
COVIDT=COVID.set_index(['fip-year-month']).T
COVIDT

In [ ]:
#income1=income.merge(COVID, on='fip-year')
#income2=income.rename(columns={"fip-year-month_y":'fip-year-month'} , index=['fip-year-month'])
#income3=income2[['fip-year-month','PCIncome']
#print(income2.set_index(['fip-year-month_y']).T)
#income3

In [ ]:
COVIDINCOME=pd.concat([COVIDT,income3], ignore_index=True)
COVIDINCOME

In [56]:
Zillowfips.drop(columns=['Unnamed: 0_x','RegionID','SizeRank','RegionName','StateName','State','Metro','RegionType',"StateCodeFIPS","MunicipalCodeFIPS",'C_Sa','Unnamed: 0_y','name',"state_Ab"], axis=1)
Zillowfips=Zillowfips.drop(Zillowfips.iloc[:, 0:10],axis = 1)
#Zillowdrop=Zillow1.drop(Zillowfips.iloc[:, 0:10],axis = 1)
Zillowfips=Zillowfips.drop(Zillowfips.iloc[:, -6:],axis = 1)
#Zillowdrop.dtypes

In [62]:
df=Zillowfips.stack(level=0)
df
df.to_csv('Zillow_it2.csv')

In [64]:
Zillowit2= pd.read_csv('Zillow_it2.csv') 
Zillowit2

        fips        Date    case
0       6037   1/31/2017  564461
1       6037   2/28/2017  567795
2       6037   3/31/2017  570658
3       6037   4/30/2017  572179
4       6037   5/31/2017  575524
...      ...         ...     ...
156688  8111   8/31/2021  415334
156689  8111   9/30/2021  423507
156690  8111  10/31/2021  429720
156691  8111  11/30/2021  433309
156692  8111  12/31/2021  438270

[156693 rows x 3 columns]

In [66]:
Zillowit2['month']=Zillowit2['Date'].str.split('/').str[0]
Zillowit2['year']=Zillowit2['Date'].str.split('/').str[-1]
Zillowit2

        fips        Date    case month  year
0       6037   1/31/2017  564461     1  2017
1       6037   2/28/2017  567795     2  2017
2       6037   3/31/2017  570658     3  2017
3       6037   4/30/2017  572179     4  2017
4       6037   5/31/2017  575524     5  2017
...      ...         ...     ...   ...   ...
156688  8111   8/31/2021  415334     8  2021
156689  8111   9/30/2021  423507     9  2021
156690  8111  10/31/2021  429720    10  2021
156691  8111  11/30/2021  433309    11  2021
156692  8111  12/31/2021  438270    12  2021

[156693 rows x 5 columns]

In [67]:
Zillowit2['fip-year-month']=Zillowit2['fips'].astype(str)+'-'+Zillowit2['year'].astype(str)+'-'+Zillowit2['month'].astype(str)
Zillowit2['fip-year']=Zillowit2['fips'].astype(str)+'-'+Zillowit2['year'].astype(str)
Zillowit2

        fips        Date    case month  year fip-year-month   fip-year
0       6037   1/31/2017  564461     1  2017    6037-2017-1  6037-2017
1       6037   2/28/2017  567795     2  2017    6037-2017-2  6037-2017
2       6037   3/31/2017  570658     3  2017    6037-2017-3  6037-2017
3       6037   4/30/2017  572179     4  2017    6037-2017-4  6037-2017
4       6037   5/31/2017  575524     5  2017    6037-2017-5  6037-2017
...      ...         ...     ...   ...   ...            ...        ...
156688  8111   8/31/2021  415334     8  2021    8111-2021-8  8111-2021
156689  8111   9/30/2021  423507     9  2021    8111-2021-9  8111-2021
156690  8111  10/31/2021  429720    10  2021   8111-2021-10  8111-2021
156691  8111  11/30/2021  433309    11  2021   8111-2021-11  8111-2021
156692  8111  12/31/2021  438270    12  2021   8111-2021-12  8111-2021

[156693 rows x 7 columns]

In [68]:
Zillowit2.to_csv('Zillow_it2.csv')